

@include respond-to(extra-small) {


    section {
        @include section-base($bg-color:none);
    }

    #simple-bookmark-manager, 
    #bookmark-one-click,
    #download-the-extension,
    #faqs {
        margin-bottom: 90px;
        margin-top: 15%;
    }

    .img-container {
        @include img-container($margin:20px 0 90px, $box-shadow:none);
        @include flex-aling ($justify: center);
    }

    #img-1, .img-2 {@include img-commons ()}

    .img-container #forma {
        @include forma($forma-height:180px, $forma-width:80vw, $forma-top:19%)}

    #simple1{
        width: 100vw;
    }

    #hgroup1{
        margin-bottom: 10px;
    }

    #simple-bookmark-manager .boton {
        align-items: center;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    #simple-bookmark-manager button {
        margin: 10px;
    }

}

@include respond-to(small) {

    #simple-bookmark-manager{
        @include flex-aling (none, row-reverse);
        padding: 0 10%;

        #simple1 { 
            @include flex-aling (flex-start, column);
            width: 50vw;
            

                #hgroup1 {
                    @include hgroup-commons();
                    h1{@include primary-text(left, 0, 1.5em);}
                    h3{@include tertiary-text(left, 0, 0.9em, 35vw);}
                }

                .boton {
                    justify-content: flex-start;
                    margin: 0;
                    
                    button {@include button-base($text-color: white, $shadow-color: lightblue);}
                    button:hover {@include button-hover(white, blue, thin solid blue);}
                }

        }


        .img-container {
            @include flex-aling (flex-start);
            @include img-container(
                $margin:10px 10px 90px 0, 
                $box-shadow:1px 20px 30px 1px rgba(4, 4, 4, 0.267));

                #forma {@include forma(
                    $forma-height:30vh, 
                    $forma-width:40vw, 
                    $forma-top:15%)
                }
        }  
    }

    #img-1, .img-2 {@include img-commons ($max-width:50vw)}


    #simple-bookmark-manager button {
        margin: 10px 20px 0 0;
    }

    #simple-bookmark-manager button:hover {
        background-color: var(--color-text-white);
        border: thin solid var(--color-primary);
        color: var(--color-primary);
    }
}

@include respond-to(medium) {
    
    .img-container {
        margin: 10px 10px 90px 0;
        box-shadow: 1px 20px 30px 1px rgba(4, 4, 4, 0.267);
    }

    .img-container #forma {
        width: 40vw;
        top: 10%;
    }

    #hgroup1 h3 {
        width: 50vw;
    }
}