@import "tailwindcss";

@theme{
    /* Colores principales */
    --color-primary: blue;
    --color-accent: red;
    
    /* Colores de texto */
    --color-text-white: white;
    --color-text-black: black;
    --color-text-gray: rgb(86, 86, 86);
    --color-text-light-gray: rgb(184, 184, 184);
    --color-text-medium-gray: grey;
    
    /* Colores de fondo */
    --bg-dark: rgba(5, 1, 29, 0.938);
    --bg-footer: rgb(13, 13, 45);
    --bg-white: rgb(236, 235, 235);
    
    /* Colores de borde */
    --border-white-alpha: rgba(255, 255, 255, 0.384);
    
    /* Tipografía */
    --font-primary: "puppy", sans-serif;

    /*Breakpoint*/
    --breakpoint-xs: 320px;
    --breakpoint-sm: 620px;
    --breakpoint-md: 769px;


}

.basic-button {
    @apply
    bg-primary rounded-md 
    text-white
    font-bold
    text-sm
    p-2.5
    shadow-xl
    hover:bg-white
    hover:text-gray-500 

    sm:hover:text-primary
    sm:hover:border-1;
}

.primary-text {
    @apply 
    w-full text-2xl font-bold text-center
    sm:text-left 
    md:text-3xl
}

.secundary-text {
    
}

.tertiary-text {
    @apply 
    w-full text-sm text-center text-text-gray mt-6
    sm:text-left;
}

.pharagrap {}