@import "tailwindcss";

@theme{
    /* Colores principales */
    --color-primary: blue;
    --color-accent: red;
    
    /* Colores de texto */
    --color-text-white: white;
    --color-text-black: black;
    --color-text-gray: rgb(86, 86, 86);
    --color-text-light-gray: rgb(184, 184, 184);
    --color-text-medium-gray: grey;
    
    /* Colores de fondo */
    --bg-dark: rgba(5, 1, 29, 0.938);
    --bg-footer: rgb(13, 13, 45);
    --bg-white: rgb(236, 235, 235);
    
    /* Colores de borde */
    --border-white-alpha: rgba(255, 255, 255, 0.384);
    
    /* Tipografía */
    --font-primary: "puppy", sans-serif;
}

.basic-button {
    @apply bg-primary rounded-md 
    text-white
    font-bold
    text-sm
    p-2.5
    mr-4
    mt-6
    shadow-xl
    hover:bg-white
     hover:text-gray-500 ;
}

.primary-text {
    @apply w-2xs text-2xl font-bold text-center;
}

.secundary-text {
    
}

.tertiary-text {
    @apply w-3xs text-sm text-center text-text-gray mt-6;
}

.pharagrap {}