@import "tailwindcss";

@theme{
    /* Colores principales */
    --color-primary: blue;
    --color-accent: red;
    
    /* Colores de texto */
    --color-text-white: white;
    --color-text-black: black;
    --color-text-gray: rgb(86, 86, 86);
    --color-text-light-gray: rgb(184, 184, 184);
    --color-text-medium-gray: grey;
    
    /* Colores de fondo */
    --bg-dark: rgba(5, 1, 29, 0.938);
    --bg-footer: rgb(13, 13, 45);
    --bg-white: rgb(236, 235, 235);
    
    /* Colores de borde */
    --border-white-alpha: rgba(255, 255, 255, 0.384);
    
    /* Tipografía */
    --font-primary: "puppy", sans-serif;

    /*Breakpoint*/
    --breakpoint-xs: 320px;
    --breakpoint-sm: 620px;
    --breakpoint-md: 769px;


}

/* Filtro para el logo en el menú burger (de gris a blanco) */
.menu-logo-filter {
    filter: invert(100%) grayscale(100%) brightness(200%);
}

/* 2. Clase para el Overlay y el estado Visible del Menú (controlada por JS) */
.custom-menu-overlay {
    /* Simula box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5); */
    /* Usamos bg-gray-900/90 para el fondo oscuro semi-transparente */
}

/* La clase que JS añade/remueve */
.nav.visible {
    visibility: visible;
    opacity: 1;
}

.basic-button { @apply
    bg-primary rounded-md 
    text-white
    font-bold
    text-sm
    p-2.5
    shadow-xl
    hover:bg-white
    hover:text-gray-500 

    sm:hover:text-primary
    sm:hover:border-1
;}

.primary-text { @apply 
    w-full text-2xl font-bold
    md:text-3xl
;}

.secundary-text { @apply 
    w-full text-base font-bold text-text-gray mt-3
    border-b
    border-b-text-light-gray
    hover:border-b-4
    hover:border-accent
;}

.tertiary-text { @apply 
    w-full text-sm text-text-gray mt-2

;}

.pharagrap { @apply
    text-sm text-text-gray mb-4
;}

.article-commons { @apply 
    rounded-2xl justify-items-center 
    w-60 my-5 py-10 shadow-lg
;}

.accordion-arrow { @apply 
    relative flex justify-between items-center cursor-pointer
;}

.accordion-arrow::after { @apply 
    ml-4 transition-transform duration-300 ease-in-out;
    content: "";
    background: url(../assets/images/icon-arrow.svg) no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
}

details[open] .accordion-arrow::after {
    transform: rotate(180deg); 
}

.custom-input-error-active {
    border-color: var(--color-accent) !important;
    border-radius: 0.375rem 0.375rem 0 0;
    
    background-image: url(../assets/images/icon-error.svg);
    background-position: center right 10px;
    background-repeat: no-repeat;
}

.custom-error-box { @apply 
        absolute 
        hidden
        bottom-0
        left-0 
        right-0 
        text-white 
        bg-accent 
        text-xs 
        p-1
        z-10;
    border-radius: 0 0 0.625rem 0.625rem;
}

.logo-white-filter {
    filter: invert(100%) brightness(100%);
}

.icon-hover-color:hover {
    filter: invert(42%) sepia(100%) saturate(1352%) hue-rotate(-50deg) brightness(90%) contrast(119%);
}