*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'roboto', sans-serif;
    margin: 0
}

h1{ font-size: 3em;}
h2{ font-size: 2em;}
h3{ font-size: 1em;}
p{ font-size: 1.25em;}
ul{list-style: none;}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 4px 40px;
    border-radius: 10px;
    border: 2px;
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: red;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}
 header .logo{
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    background-color: white;

}

 header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    background-color: rgb(5, 1, 29);
    opacity: 0.9;
    width: 412px;

}

.nav-list{
    margin: 10px 5px 20px 5px;
    flex-direction: column;
    align-items: end;
    text-align: center;
}

li{
    margin: 10px 10px;
    padding: 15px;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    color: white;
    width: 300px;
    height: 50px;
}

header .open-menu{
    display: none;
}

header a{
    text-decoration: none;
    color: white;
}


header a:hover{
    color: blue;
}

nav .login{
    border-radius: 0;
    background-color: rgb(5, 1, 29);;
    border-color: white;
    border-style: solid;
    color: white;
    width: 300px;
    padding: 10px;
}