h1 { 
    width: 80vw;
    font-size: 1.3em;
}

h2 { 
    font-size: 1.5em;
    color: var(--color-text-light-gray);
}

h3 { 
    margin-top: 15px;
    width: 80vw;
    font-size: 0.75em;
    color: var(--color-text-light-gray);
    font-weight: normal;
    line-height: 1.5;
}

p { 
    font-size: 0.70em;
}